/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap');

/* font-family: Cookie, cursive;
    font-family: Roboto, sans-serif; */

/* General variables */
:root {
	--background-color: #011627;
	--primary-color: #fff;
	--secondary-color: #2ec5b6;
	--accent-color: #ff9f1c;
	/* --more: rgba(46, 197, 182, 0.2); */
}
/* General styling */
* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
	max-width: 100%;
	/* overflow-x: hidden; */
}

body {
	background-color: var(--background-color);
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

a {
	color: unset;
	text-decoration: unset;
}

.section {
	width: 100%;
	height: 100vh;
	max-width: 100%;
	max-height: 100vh;
	/* overflow: hidden; */
}

/* Home section styling */
#home {
	background-image: url(/images/vania-shows-N1I6IgDOGJs-unsplash.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	width: 100%;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

/* --Navbar styling-- */
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
}

.branding {
	background-color: #fff;
	border-radius: 0 0 2.5rem 0;
	color: var(--background-color);
	display: flex;
	font-family: Hurricane, cursive;
	width: 10%;
}

.brandLogo {
	margin: auto 0 auto 2.5rem;
	width: 3.125rem;
}

.brandName {
	font-size: 2.25rem;
	font-family: Cookie, cursive;
	margin: auto 0 auto 1.25rem;
}

.navLinks {
	display: flex;
	font-size: 1.25rem;
	justify-content: space-between;
	margin: auto 2.5rem auto 0;
	width: 12.5%;
}

.navLinks a {
	color: var(--primary-color);
}

.active {
	color: var(--secondary-color) !important;
}

/* Intro styling */
.introSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.25rem 2.5rem;
	height: 90vh;
}

.sublime {
	color: rgba(46, 197, 182, 0.2);
	font-size: 4rem;
}

.sublimeSecond {
	margin-left: auto;
}

.mainIntro {
	/* background-color: var(--accent-color); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;

	height: 25vh;
}

.heading {
	font-size: 6rem;
}

.subHeading {
	font-size: 2.25rem;
	text-align: center;
}
.mainIntro a {
	margin: 1.25rem auto 0 auto;
}

.actionBtn {
	background-color: rgba(0, 0, 0, 0);
	border: var(--primary-color) solid 0.3125rem;
	color: var(--primary-color);
	font-size: 1.5rem;
	padding: 1.25rem 0.625rem;
}

/* Sample section styling */

#sample {
	display: flex;
	width: 100%;
}

.sampleSubsection {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 50%;
}

.currentlyPlaying {
	background-color: rgba(46, 197, 182, 0.2);
}

.sampleSubsectionTitle {
	font-size: 1.25rem;
}

.currentlyPlaying .sampleSubsectionTitle {
	margin: auto 0 auto 1.25rem;
}

.playingBeatSection {
	/* background-color: rgb(134, 75, 75); */
	margin: 0 auto auto auto;
	width: 95%;
	height: 90%;
}

.playerOverlay {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.infoAndControls {
	margin: auto auto 10%;
	width: 95%;
}

.info {
	display: flex;
	justify-content: space-between;
	margin: 0 0 2.5rem 0;
}

.info p {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

.info .ratings i {
	color: var(--accent-color);
	font-size: 1.5rem;
}

.audioPlayer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.audioStats {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.progressBarContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.progressBar {
	--bar-bg: #c4c4c4;
	--seek-before-width: 0;
	--seek-before-color: var(--secondary-color);
	--knobby: var(--secondary-color);
	--selectedKnobby: #26c9c3;

	appearance: none;
	background: var(--bar-bg);
	border-radius: 0.625rem;
	position: relative;
	width: 100%;
	height: 0.3125rem;
	outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
	background: var(--bar-bg);
	border-radius: 0.625rem;
	position: relative;
	width: 100%;
	height: 0.3125rem;
	outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
	background: var(--bar-bg);
	border-radius: 10px;
	position: relative;
	width: 100%;
	height: 0.3125rem;
	outline: none;
}

.progressBar::-moz-focus-outer {
	border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
	content: '';
	height: 0.3125rem;
	width: var(--seek-before-width);
	background-color: var(--seek-before-color);
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
	background-color: var(--seek-before-color);
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
	height: 0.3125rem;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: none;
	background-color: var(--knobby);
	cursor: pointer;
	position: relative;
	margin: -2px 0 0 0;
	z-index: 3;
	box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
	transform: scale(1.2);
	background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: transparent;
	background-color: var(--knobby);
	cursor: pointer;
	position: relative;
	z-index: 3;
	box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
	transform: scale(1.2);
	background: var(--selectedKnobby);
}

.audioControls {
	display: flex;
	justify-content: space-between;
	margin: 1.25rem auto 0;
	width: 20%;
}

.forwardBackward {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.forwardBackward i {
	color: var(--accent-color);
	font-size: 1.875rem;
}

.playPause {
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	width: 3.125rem;
	height: 3.125rem;
}

.playPauseBtn {
	color: var(--accent-color);
	font-size: 3.125rem;
}

.otherBeatsSection .sampleSubsectionTitle {
	margin: auto auto 1.25rem auto;
}

.otherBeatsList {
	/* background-color: #ff9f1c; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto auto auto;
	width: 90%;
	height: 90%;
}

.beatItem {
	background-color: rgba(46, 197, 182, 0.2);
	background-color: rgba(253, 255, 252, 0.2);
	display: flex;
}

.beatIcon {
	font-size: 1.5rem;
	margin: auto 1.25rem;
}

.beatItem .imgCover {
	margin: 0.3125rem 0;
	object-fit: cover;
	width: 12.5rem;
	height: 12.5rem;
}

.beatItemInfo {
	/* background-color: var(--accent-color); */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto 0 5rem;
}

.beatName {
	font-size: 1.5rem;
}

.beatItemInfo .ratings i {
	color: var(--accent-color);
	font-size: 1.5rem;
}

.playIcon {
	color: var(--accent-color);
	font-size: 1.875rem;
	margin: auto 1.5rem;
}

/* Contact section styling */

#contact {
	/* background-color: #ff9f1c; */
	display: flex;
	flex-direction: column;
}

.infoSection {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	height: 97vh;
	justify-content: space-around;
}

.prompt,
.conclusion {
	/* background-color: #000; */
	font-size: 1.5rem;
	text-align: center;
}

.contactArea {
	/* background-color: #fff; */
	background-image: url(/images/mohammad-metri-1oKxSKSOowE-unsplash.jpg);
	background-size: cover;
	margin: 0 auto;
	width: 50vw;
	height: 50vh;
}

.contactOverlay {
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	width: 50vw;
	height: 50vh;
}

.contactSubSection {
	display: flex;
	flex-direction: column;
	width: 50%;
}

/* .socialIcons {
	
} */

.socialMediaDisplay {
	/* background-color: #2ec5b6; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	width: 80%;
	height: 80%;
}

.mediaItem {
	/* background-color: #000; */
	display: flex;
	flex-direction: column;
}

.iconMedia {
	color: var(--secondary-color);
	font-size: 3.125rem;
}

.mediaHandle {
	font-size: 2.25rem;
}

.contactFormArea {
	background-color: rgba(10, 57, 68, 0.6);
	display: flex;
}

form {
	/* background-color: #000; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	width: 70%;
	height: 80%;
}

.formSubsection {
	/* background-color:#ff9f1c; */
	display: flex;
	flex-direction: column;
	width: 100%;
}

.formInput {
	border: none;
	margin: 0;
	padding: 0.3125rem;
	width: calc(100% - 0.625rem);
}

.formLabel {
	font-size: 1.5rem;
	margin-bottom: 0.3125rem !important;
}

.formSubsection input {
	border-radius: 1.25rem;
}

.formSubsection textarea {
	border-radius: 0.3125rem;
}

.sentNoti {
	/* background-color: #2ec5b6; */
	color: red;
	font-size: 0.75rem;
	margin: 0;
	padding: 0;
	text-align: center;
}

.sendBtn {
	background-color: unset;
	border: solid var(--primary-color) 0.125rem;
	border-radius: 1.25rem;
	color: var(--primary-color);
	font-size: 1.5rem;
	margin: 0.625rem auto 0;
	padding: 00.3125rem 0.625rem;
}

footer {
	background-color: rgba(46, 197, 182, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3vh;
	margin: auto 0 0 0;
}

.promoLink {
	text-decoration: underline;
}
